If SHIELD_FULL_COSMOTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "full-cosmotyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_FULL_COSMOTYL_LEFT

if SHIELD_FULL_COSMOTYL_LEFT || SHIELD_FULL_COSMOTYL_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_FULL_COSMOTYL_LEFT || SHIELD_FULL_COSMOTYL_RIGHT
